
/**
 * Index:
 * 1. Body
 * 2. Header
 * 3. Content
 * 4. Sidebar
 * 5. Footer
 * 6. Nice Menus
 * 7. Admin
 */


/**
 * 1. Body
 */

* {
  font-family: "bitstream vera sans", "dejavu sans", verdana, sans-serif;
  color: #333333;
}

body {
  background: white url(images/body_bg.gif);
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

#container {
  background: #F7F6F5;
  margin: 0 auto;
  padding: 0;
}

#container-inner {
  background-color: #FFFFFF;
}

/**
 * 2. Header
 */

#logo {
  float: right;
  margin: 11px 5px 0;
}

#header {
  background: #E24D00 url(images/header_bg.gif) top left repeat-x;
  height: 64px;
  margin: 0px;
  padding: 0 5px;
  position: relative;
}

#header, #container-inner {
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-box-shadow: #BBBBBB 0px 0px 5px;
  -webkit-box-shadow: #BBBBBB 0px 0px 5px;  
}

#header ul {
  margin-left: 7px;
}

#header li {
  float: left;
  border-left: 1px solid #F07B55;
  display: block;
  padding: 0;
  margin: 0;
}

#header li.last {
  border-right: 1px solid #F07B55;
}

#header li a {
  text-decoration: none;
  color: #FFFFFF;
  height: 40px;
  padding: 23px 9px 0 9px;
  font-size: 14px;
  display: block;
  margin: 0 !important;
}

#header li a.active, #header li a:hover {
  background: #ED6521;
}

/* search box */
#header .block {
  float: right;
  margin: 20px 5px 0;
}

#header #search * {
 margin: 0;padding:0;
 color: #E24E00;
 font-size: 10px !important;
 font-weight: bold;
}

#header #search label {
  display: none;
}

#header #search .form-text {
  display: block;
  float: left;
  padding: 2px 3px;
  border: 2px solid #B73F00;
  border-right: 0 none;
  background: #FFFFFF;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-box-shadow: inset #BBBBBB 2px 2px 2px;
  -webkit-box-shadow: inset #BBBBBB 2px 2px 2px;
}

#header #search .form-submit {
  display: block;
  float: left;
  border: 2px solid #B73F00;
  border-left: 0px none;
  background: #FFFFFF;
  padding: 2px 3px 0 3px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-box-shadow: inset #BBBBBB -2px 2px 2px;
  -webkit-box-shadow: inset #BBBBBB -2px 2px 2px;
}

/* sub header */
#subheader {
  margin: 0 13px;
  padding: 0 8px;
  background: #F8F8F8;
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-box-shadow: #BBBBBB 0px 0px 5px;
  -webkit-box-shadow: #BBBBBB 0px 0px 5px;
  height: 20px;
}
#subheader * {
  font-size: 10px;
  color: #555555;
}
#subheader .secondar-links, #subheader .links * {
  margin:0;padding:0;
}

#subheader .links li {
  display:block;
  float: left;
  border-right: 1px solid #CCCCCC;
}

#subheader .links .first {
  border-left: 1px solid #CCCCCC;
}

#subheader .links a {
  padding: 4px 9px;
}
#subheader .links a.active, #subheader .links a:hover,
#subheader #openid-launchpad-login-form input:hover {
  background-color: #EEEEEE;
}
#subheader h2 {
  display: none;
}
#subheader .block {
  float: right;
}

/* launchpad login */
#subheader #openid-launchpad-login-form input {
  border: none;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  background: none;
  height: 20px;
  padding-left: 19px;
  background: url(images/launchpad-logo.png) 4px 2px no-repeat;
  cursor: pointer;
}


/**
 * 3. Content
 */

#content {
  line-height: 1.4em;
  padding: 15px 25px 10px;
}

h1 {
  color: #E24D00;
  font-size: 34px;
  font-weight: normal;
  line-height: 34px;
}

.messages, .status {
  background: #F8F8F8;
  font-size: 14px;
  color: #444444;
  margin: 0 -10px !important;
}

#content .block, .messages, .status {
  background:  #F8F8F8;
  padding: 10px;
  margin: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: #BBBBBB 0px 2px 3px;
  -webkit-box-shadow: #BBBBBB 0px 2px 3px;
}

#content .block h2 {
  color: #3D273A;
  font-size: 18px;
  border-bottom: dotted 1px #999999;
  margin: 0 0 8px;
  font-weight: normal;
}

#content .block a {
  font-size: 13px;
  color: #111111;
  text-decoration: none;
}

/* fixes a spacing bug on create node pages */
.node-form .standard {
        clear: none;
}

#end-content {
  clear: both;
}

.profile {
  clear: none;
}

/**
 * 4. Sidebar
 */

.sidebar-right {
  margin: 0 200px 0 0;
}
.sidebar-left {
  margin: 0 0 0 200px;
}
.sidebars {
  margin: 0 200px 0 200px;
}


.sidebar {
  width: 210px;
}

.sidebar .block {
  width: 170px !important;
}

#sidebar-right {
  float: right;
  margin: 0 -20px 0 0;
}

#sidebar-left {
  float: left;
  margin: 0 0 0 -20px;
}

/* condense the menu */
.sidebar .menu {
  padding: 0 0 0 15px;
}

.sidebar .menu li {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}

.sidebar .menu a {
  margin: 0 0 0 -4px;;
}

.sidebar #user-login-form ul, .sidebar #user-login-form li {
  padding: 0; margin: 0;
  list-style-type:none;
}

/**
 * 5. Footer
 */

#footer {
  background-image: url(images/footer_logo.gif);
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 11px;
  padding: 0 140px 10px 10px;
  margin: 15px 9px 0 0;
}

#footer .block {
  width: 145px;
  margin: 0 12px;
  float: left;
  clear: none;
  padding: 0;
}

#footer .block h2 {
  color: #8C3158;
  font-size: 11px;
  font-weight: normal;
  margin: 0 0 9px;
}

#footer .block a {
  display: block;
  border-bottom: dotted 1px #999999;
  text-decoration: none;
}


/* admin stuff */

#block-admin-display-form .block-region-select {
        width: 100px;
}

/**
 * 6. Nice Menus
 */

/* Reset Nice Menu CSS */

ul.nice-menu, ul.nice-menu a, ul.nice-menu ul, ul.nice-menu li, ul.nice-menu-down,
ul.nice-menu-down ul, ul.nice-menu-down li, ul.nice-menu li.menuparent,
ul.nice-menu li.menuparent a, ul.nice-menu li.menuparent a:hover,
ul.nice-menu li.menuparent:hover, ul.nice-menu li.menuparent:hover a {
  border: 0;
  padding:0;
  margin: 0;
  background-color: transparent;
  background-image: none;
}

ul.nice-menu, ul.nice-menu ul {
  position: absolute;
  border-right: 1px solid #F07B55
}

/* Add pretty styling to menus */

#header ul.nice-menu li ul {
  margin-top: 34px;
  margin-left: 0px;
  border-right: 1px solid #F07B55
}

#header ul.nice-menu li ul li {
  background-color: #E45813;
  height: 20px;
  width: auto;
  min-width: 60px;
}

#header ul.nice-menu li ul li a {
  height: 20px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#header ul.nice-menu li ul li a:hover {
  background-color: #ED6521;
}

/**
 * 7. Admin
 */

div.admin-panel {
  font-size: 11px;
  line-height: 1.5;
  padding: 0 5px;
}

div.admin-panel h3 {
  margin-top: 0;
  margin-bottom: 0;
}

div.admin-panel dt {
  padding-top: 5px;
}
